* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px;
}
.section-title {
  margin: 0;
  font-size: 48px;
  line-height: 58px;
  color: #d52047;
}
.section-subtitle {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
}

/*=============HEADER=========== */
header {
  padding: 24px 0;
  background-color: #f9f7e8;
}
#logo {
  display: inline-block;
  font-family: "Courgette", cursive;
  font-size: 32px;
  line-height: 40px;
  margin-right: 79px;
  vertical-align: middle;
  text-decoration: none;
}
.logo-word {
  color: #62bfad;
}
.logo-word span {
  color: #000000;
}
.main-menu {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 19px;
}
.main-menu a {
  display: inline-block;
  text-decoration: none;
  color: #000000;
}
.main-menu a:nth-child(-n + 2) {
  margin-right: 21px;
}

/* ==========MAIN-HERO ===========*/
h1 {
  display: none;
}
.hero {
  padding: 198px 0 172px;
  background-color: #d52047;
}
.hero-slogan {
  font-family: Limelight;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  color: #ffffff;
}

/* ============MAIN-ABOUT========= */
.about {
  padding: 95px 0 80px;
  background-color: #eff8f6;
}
.about-content {
  margin-top: 40px;
  font-size: 0;
}
.about-description {
  display: inline-block;
  width: 50%;
  padding: 24px;
  vertical-align: top;
  border-radius: 10px 0px 0px 10px;
  background-color: #e5e5e5;
}
.about-text {
  margin: 24px 0 0;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.about-image {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  border-radius: 0px 10px 10px 0px;
}
/* ==========MAIN-FEATURES=========== */
.features {
  padding: 80px 0;
  background-color: #ffffff;
}
.features-cards {
  margin-top: 40px;
  font-size: 0;
}
.features-card {
  display: inline-block;
  padding: 22px;
  width: 29%;
  min-width: 322px;
  background: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 8px;
}
.features-card:nth-child(-n + 2) {
  margin-right: 72px;
}
.features-card-img {
  margin-bottom: 24px;
}
.features-card-text {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 24px 0;
}
.features-card-ref {
  font-size: 16px;
  line-height: 19px;
  color: #d52047;
}
/* ==========FOOTER========= */
footer {
  padding: 32px 0;
  background: #f9f7e8;
}
.footer-text {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 0 0 24px;
}
.footer-text span {
  text-decoration-line: underline;
}
.socials {
  text-align: center;
  font-size: 0;
}
.socials a {
  display: inline-block;
  cursor: url("/images/cursor.png"), default;
}
.socials a:nth-child(-n + 2) {
  margin-right: 16px;
}
.socials a svg {
  width: 24px;
  height: 24px;
  color: #000000;
}
.socials a svg:hover #twitter,
.socials a svg:hover #linkedin,
.socials a svg:hover #instagram {
  fill: #d52047;
}
